polygon
  stroke-width: 0.1
  stroke-linejoin: round
// colors based on "standard color scheme"
// [https://en.wikipedia.org/wiki/Tetris#Game_pieces] e.g. from
// Tetris 99, but with different saturation and lightness
.I
  fill: rgb(0, 188, 212)     // cyan
.O
  fill: rgb(244, 67, 54)     // red
.S
  fill: rgb(139, 195, 74)    // light green
.Z
  fill: rgb(255, 87, 34)     // deep orange
.T
  fill: rgb(255, 193, 7)     // amber/yellow (medium)
.L
  fill: rgb(63, 81, 181)     // indigo/blue (hard)
.J
  fill: rgb(76, 175, 80)     // green (easy)

.black-true
  polygon
    fill: black
    stroke-width: 0.05

.grid-true
  line
    stroke: black
    stroke-width: 0.075
.grid-true.black-true
  line
    stroke: white
  polygon
    stroke: white
    stroke-width: 0.075

.floor-false .base
  fill: none
.floor-true .base
  fill: grey
